.name-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 16px;
}
.btn {
  border: 1.5px solid #2e2c2a;
  border-radius: 7px;
  box-shadow: 3px 3px 0 #2e2c2a;
  background-color: #f0bede;
  color: black !important;
  height: 2.7rem;
}
