<div class="d-flex justify-content-between align-items-center flex-row w-100">
  <div class="head-text p-4">GAPPE MARO</div>
  <div class="d-flex justify-content-start gap-3 align-items-center flex-row p-4">
    <div>{{ data?.user?.fullName }}</div>
    <img
      src="https://picsum.photos/200"
      style="border-radius: 100%; width: 2rem; height: 2rem" />
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle p-0"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"></button>

      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Profile</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div
          style="position: absolute; z-index: 100; right: 0"
          class="px-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-100">
          <img
            [src]="data?.user?.profileImageURL"
            style="border-radius: 100%; width: 6rem; height: 6rem" />

          <div class="d-flex flex-row justify-content-between align-items-center mt-3">
            <div
              class="name-text fw-bold"
              *ngIf="!nameToggle">
              {{ data?.user?.fullName }}
            </div>

            <input
              style="background: none; border: none; border-bottom: 1px solid"
              [(ngModel)]="nameInput"
              *ngIf="nameToggle"
              type="email" />

            <span
              style="color: black"
              (click)="nameToggle = !nameToggle"
              ><i class="fa-solid fa-pen-to-square ms-1"></i
            ></span>
          </div>

          <div class="w-100 d-flex flex-column justify-content-start mt-5 px-4">
            <div class="fw-bolder">Email</div>
            <div class="d-flex flex-row justify-content-between">
              <div
                class="d-flex flex-row"
                *ngIf="!emailToggle">
                <div
                  class="text-body-secondary"
                  *ngIf="data?.user?.email">
                  {{ data?.user?.email }}
                </div>
                <div
                  class="text-body-secondary"
                  *ngIf="!data?.user?.email">
                  Not added
                </div>
              </div>
              <input
                style="background: none; border: none; border-bottom: 1px solid"
                [(ngModel)]="emailInput"
                *ngIf="emailToggle"
                type="email" />

              <span
                style="color: black"
                (click)="emailToggle = !emailToggle"
                ><i class="fa-solid fa-pen-to-square ms-1"></i
              ></span>
            </div>

            <hr
              class="w-100"
              style="border-top: 2px solid; opacity: 100" />
            <div class="fw-bolder">Phone</div>
            <div class="text-body-secondary">{{ data?.user?.mobileNumber }}</div>
            <hr
              class="w-100"
              style="border-top: 2px solid; opacity: 100" />
            <div class="fw-bolder">Bio</div>
            <div class="d-flex flex-row justify-content-between">
              <div
                class="text-body-secondary"
                *ngIf="!bioToggle">
                {{ data?.user?.bio }}
              </div>

              <input
                style="background: none; border: none; border-bottom: 1px solid"
                [(ngModel)]="bioInput"
                *ngIf="bioToggle"
                type="email" />

              <span
                style="color: black"
                (click)="bioToggle = !bioToggle"
                ><i class="fa-solid fa-pen-to-square ms-1"></i
              ></span>
            </div>
            <hr
              class="w-100"
              style="border-top: 2px solid; opacity: 100" />
          </div>
          <div>
            <app-btn
              title="Save"
              *ngIf="emailToggle || bioToggle"
              (click)="update()"></app-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
