<div
  style="height: 100vh"
  class="d-flex justify-content-center align-items-center">
  <div class="head-cont d-flex justify-content-start align-items-start flex-column">
    <app-top-bar
      [data]="{ name: 'Shubh Soni' }"
      class="w-100"></app-top-bar>

    <div class="hl w-100"></div>
    <div
      class="d-flex justify-content-start align-items-start"
      style="height: 100%; width: 100%">
      <div class="p-4 d-flex justify-content-center align-items-center flex-column">
        <div
          class="input-group d-flex justify-content-center align-items-center mb-4"
          style="height: 2.3rem">
          <i class="fa-solid ps-3 fa-magnifying-glass"></i>
          <input
            type="text"
            class="form-control"
            placeholder="Search" />
        </div>
        <div class="d-flex flex-column justify-content-start align-items-start gap-1 w-100 user-cont pb-3">
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
          <app-user-tile style="width: 100%"></app-user-tile>
        </div>
      </div>

      <div class="vertical-line"></div>
      <div
        class="d-flex justify-content-between align-items-center flex-column"
        style="height: 100%; width: 100%">
        <div class="chat-cont d-flex justify-content-center align-items-center flex-column w-100">
          <div class="d-flex px-3 pt-3 justify-content-between align-items-center w-100">
            <app-user-tile></app-user-tile>

            <div class="dropdown">
              <button
                class="menu-btn"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i
                  class="fa-solid fa-ellipsis"
                  style="font-size: 1.3rem"></i>
              </button>
              <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item"
                  href="#"
                  >Action</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  >Another action</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  >Something else here</a
                >
              </div>
            </div>
          </div>
          <div
            class="vertical-line mt-3 w-100"
            style="padding: 1px"></div>
        </div>
        <div class="p-3">ssssss</div>
        <div class="d-flex p-3 gap-3 justify-content-center align-items-center flex-row w-100">
          <div
            class="input-group d-flex justify-content-center align-items-center mb-4"
            style="height: 2.7rem">
            <i class="fa-regular ps-3 fa-comments"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Lets chat..." />
          </div>

          <button
            type="button"
            class="btn btn-success mb-4">
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
