.head-cont {
  height: 96vh;
  width: 97vw;
  border: 2.5px solid #2e2c2a;
  border-radius: 15px;
  overflow: hidden;
  background-color: #eddfd0;
}

.head-text {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.vertical-line {
  height: 100%;
  width: 2.5px;
  color: black;
  background-color: black;
  opacity: 30%;
}

.hl {
  background-color: black;
  opacity: 30%;
  padding: 1px;
}

.input-group {
  border: 1px solid #2e2c2a;
  border-radius: 7px;
  box-shadow: 3px 3px 0 #2e2c2a;
}
.form-control {
  border: none;
  background-color: transparent;
}
.input-group-text {
  border: none;
  background-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.user-cont {
  height: 74vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-cont::-webkit-scrollbar {
  display: none;
}
.user-cont {
  scrollbar-width: none; /* Firefox */
}
.user-cont {
  -ms-overflow-style: none; /* IE and Edge */
}

.btn {
  border: 1.5px solid #2e2c2a;
  border-radius: 7px;
  box-shadow: 3px 3px 0 #2e2c2a;

  background-color: #bef0cd;
  color: black !important;
  height: 2.7rem;
}
.menu-btn {
  background-color: transparent;
  border: none;
}

.message-cont {
  height: 68vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-cont::-webkit-scrollbar {
  display: none;
}
.message-cont {
  scrollbar-width: none; /* Firefox */
}
.message-cont {
  -ms-overflow-style: none; /* IE and Edge */
}
