.name-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 14px;
}
.subname-text {
  font-size: 0.8rem;
}
.tile:hover {
  background-color: #33333318;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
