/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.modal-content {
  background-color: #edded0 !important;
  border-color: black !important;
}
.modal-body {
  border-top: 1px solid #333333;
  //   border-bottom: 1px solid #333333;
}
.pointer {
  cursor: pointer;
}
