/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.modal-content {
  background-color: #edded0 !important;
  border-color: black !important;
}
.modal-body {
  border-top: 1px solid #333333;
  //   border-bottom: 1px solid #333333;
}
.pointer {
  cursor: pointer;
}

.toast-error {
  border: 1.5px solid #2e2c2a !important;
  border-radius: 7px !important;
  box-shadow: 3px 3px 0 #2e2c2a !important;
  background-color: #ef476f !important;
  color: white !important;
}

.toast-success {
  border: 1.5px solid #2e2c2a !important;
  border-radius: 7px !important;
  box-shadow: 3px 3px 0 #2e2c2a !important;
  background-color: #495f41 !important;
  color: white !important;
}
.toast-info {
  border: 1.5px solid #2e2c2a !important;
  border-radius: 7px !important;
  box-shadow: 3px 3px 0 #2e2c2a !important;
  background-color: #26547c !important;
  color: white !important;
}
